In [1]:
import pandas as pd

comp=pd.read_csv("computer_hardware_dataset.csv")
comp.head()

  vendor_name model_name  MYCT  MMIN   MMAX  CACH  CHMIN  CHMAX  PRP  ERP
0     adviser      32/60   125   256   6000   256     16    128  198  199
1      amdahl     470v/7    29  8000  32000    32      8     32  269  253
2      amdahl    470v/7a    29  8000  32000    32      8     32  220  253
3      amdahl    470v/7b    29  8000  32000    32      8     32  172  253
4      amdahl    470v/7c    29  8000  16000    32      8     16  132  132

In [11]:
comp

,vendor_name,model_name,MYCT,MMIN,MMAX,CACH,CHMIN,CHMAX,PRP,ERP
0,adviser,32/60,125,256,6000,256,16,128,198,199
1,amdahl,470v/7,29,8000,32000,32,8,32,269,253
2,amdahl,470v/7a,29,8000,32000,32,8,32,220,253
3,amdahl,470v/7b,29,8000,32000,32,8,32,172,253
4,amdahl,470v/7c,29,8000,16000,32,8,16,132,132
...,...,...,...,...,...,...,...,...,...,...
204,sperry,80/8,124,1000,8000,0,1,8,42,37
205,sperry,90/80-model-3,98,1000,8000,32,2,8,46,50
206,sratus,32,125,2000,8000,0,2,14,52,41
207,wang,vs-100,480,512,8000,32,0,0,67,47
208,wang,vs-90,480,1000,4000,0,0,0,45,25

In [9]:
comp["vendor_name"].duplicated()

0      False
1      False
2       True
3       True
4       True
       ...
204     True
205     True
206    False
207    False
208     True
Name: vendor_name, Length: 209, dtype: bool

In [13]:
comp[~comp["vendor_name"].duplicated(keep=False)]

    vendor_name   model_name  MYCT  MMIN  MMAX  CACH  CHMIN  CHMAX  PRP  ERP
0       adviser        32/60   125   256  6000   256     16    128  198  199
62   four-phase     2000/260   125   512  1000     0      8     20   36   19
137   microdata  seq.ms/3200   150   512  4000     0      8    128   30   33
206      sratus           32   125  2000  8000     0      2     14   52   41

In [20]:
comp[~comp["vendor_name"].duplicated()]

,vendor_name,model_name,MYCT,MMIN,MMAX,CACH,CHMIN,CHMAX,PRP,ERP
0,adviser,32/60,125,256,6000,256,16,128,198,199
1,amdahl,470v/7,29,8000,32000,32,8,32,269,253
10,apollo,dn320,400,1000,3000,0,1,2,38,23
12,basf,7/65,60,2000,8000,65,1,8,92,70
14,bti,5000,350,64,64,0,1,4,10,15
16,burroughs,b1955,167,524,2000,8,4,15,19,23
24,c.r.d,68/10-80,320,128,6000,0,1,12,23,28
30,cdc,cyber:170/750,25,1310,2620,131,12,24,274,102
39,cambex,1636-1,50,1000,4000,8,3,5,26,30
44,dec,decsys:10:1091,133,1000,12000,9,3,12,72,54
50,dg,eclipse:c/350,700,384,8000,0,1,1,24,34
57,formation,f4000/100,800,256,8000,0,1,4,12,34
62,four-phase,2000/260,125,512,1000,0,8,20,36,19
63,gould,concept:32/8705,75,2000,8000,64,1,38,144,75
66,hp,3000/30,90,256,1000,0,3,10,17,18
73,harris,100,300,768,3000,0,6,24,36,23
80,honeywell,dps:6/35,330,1000,3000,0,2,4,16,23
93,ibm,3033:s,57,4000,16000,1,6,12,132,82
125,ipl,4436,50,2000,4000,0,3,6,27,30
131,magnuson,m80/30,100,1000,8000,0,2,6,16,37
137,microdata,seq.ms/3200,150,512,4000,0,8,128,30,33
138,nas,as/3000,115,2000,8000,16,1,3,50,46
157,ncr,v8535:ii,112,1000,1000,0,1,4,8,19
170,nixdorf,8890/30,200,1000,2000,0,1,2,25,21
173,perkin-elmer,3205,250,512,4000,0,1,7,25,24
176,prime,50-2250,160,512,4000,2,1,5,30,25
181,siemens,7.521,240,512,1000,8,1,3,6,19
193,sperry,1100/61-h1,116,2000,8000,32,5,28,70,56
206,sratus,32,125,2000,8000,0,2,14,52,41
207,wang,vs-100,480,512,8000,32,0,0,67,47

In [22]:
# drop_duplicates method in pandas


comp.drop_duplicates(subset=["vendor_name"],keep=False)

    vendor_name   model_name  MYCT  MMIN  MMAX  CACH  CHMIN  CHMAX  PRP  ERP
0       adviser        32/60   125   256  6000   256     16    128  198  199
62   four-phase     2000/260   125   512  1000     0      8     20   36   19
137   microdata  seq.ms/3200   150   512  4000     0      8    128   30   33
206      sratus           32   125  2000  8000     0      2     14   52   41

In [21]:
# drop_duplicates method in pandas


comp.drop_duplicates(subset=["vendor_name"])

,vendor_name,model_name,MYCT,MMIN,MMAX,CACH,CHMIN,CHMAX,PRP,ERP
0,adviser,32/60,125,256,6000,256,16,128,198,199
1,amdahl,470v/7,29,8000,32000,32,8,32,269,253
10,apollo,dn320,400,1000,3000,0,1,2,38,23
12,basf,7/65,60,2000,8000,65,1,8,92,70
14,bti,5000,350,64,64,0,1,4,10,15
16,burroughs,b1955,167,524,2000,8,4,15,19,23
24,c.r.d,68/10-80,320,128,6000,0,1,12,23,28
30,cdc,cyber:170/750,25,1310,2620,131,12,24,274,102
39,cambex,1636-1,50,1000,4000,8,3,5,26,30
44,dec,decsys:10:1091,133,1000,12000,9,3,12,72,54
50,dg,eclipse:c/350,700,384,8000,0,1,1,24,34
57,formation,f4000/100,800,256,8000,0,1,4,12,34
62,four-phase,2000/260,125,512,1000,0,8,20,36,19
63,gould,concept:32/8705,75,2000,8000,64,1,38,144,75
66,hp,3000/30,90,256,1000,0,3,10,17,18
73,harris,100,300,768,3000,0,6,24,36,23
80,honeywell,dps:6/35,330,1000,3000,0,2,4,16,23
93,ibm,3033:s,57,4000,16000,1,6,12,132,82
125,ipl,4436,50,2000,4000,0,3,6,27,30
131,magnuson,m80/30,100,1000,8000,0,2,6,16,37
137,microdata,seq.ms/3200,150,512,4000,0,8,128,30,33
138,nas,as/3000,115,2000,8000,16,1,3,50,46
157,ncr,v8535:ii,112,1000,1000,0,1,4,8,19
170,nixdorf,8890/30,200,1000,2000,0,1,2,25,21
173,perkin-elmer,3205,250,512,4000,0,1,7,25,24
176,prime,50-2250,160,512,4000,2,1,5,30,25
181,siemens,7.521,240,512,1000,8,1,3,6,19
193,sperry,1100/61-h1,116,2000,8000,32,5,28,70,56
206,sratus,32,125,2000,8000,0,2,14,52,41
207,wang,vs-100,480,512,8000,32,0,0,67,47